#------------------------------------------------------------------------------
#
#  GIT IGNORE FOR PUBLIC REPOSITORY
#
#------------------------------------------------------------------------------
*.log
*.toc
*.aux
*.pdf
*.backup
*.tex
*.png
*.pdf
*.jpg
*.jpeg
*.eps
*.gz
*.svg
*.bbl
*.blg
*.out
*.swp


#------------------------------------------------------------------------------
